version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    groups:
      test-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "org.springframework*"
      minor-patch:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"
        exclude-patterns:
          - "org.springframework*"
      spring:
        patterns:
          - "org.springframework*"
